body 
{
    background-color: #74AB7C;
  	height: 100%;
}

td, th {
  border: solid 1px black;
}

.button {
    background-color: #CEE6D2;
    color: black;
    padding: 8px 22px;
    text-align: center;
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.data
{
	text-align:center;
}

#table
{
	background-color: #CEE6D2;
}

#title
{
	margin-top: 3%;
	font: 40px arial, sans-serif;
	font-weight: bold;
	text-shadow: -3px -3px 0px rgba(200,200,200,0.5), 1px 1px 0px rgba(1,2,3,0.8);
}